<div id="<%= dom_id flight %>">
  <p>
    <strong>Name:</strong>
    <%= flight.name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= flight.time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

  <p>
    <strong>Start Airport:</strong>
    <%= flight.start_airport.name %>
  </p>

  <p>
    <strong>End Airport:</strong>
    <%= flight.end_airport.name %>
  </p>

</div>
