<%= form_with(model: flight) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.datetime_field :time, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.text_field :duration, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :start_airport, style: "display: block" %>
    <select name="start_airport" class="m-2 form-control">
      <option value="" selected>Choose an airport<option>
      <% @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.name %></option>  
      <% end %>
    </select>
  </div>

  <div>
    <%= form.label :end_airport, style: "display: block" %>
    <select name="end_airport" class="m-2 form-control">
      <option value="" selected>Choose an airport<option>
      <% @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.name %></option>  
      <% end %>
    </select>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
