<%= form_with(model: flight) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.date_field :time, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.text_field :duration, class:"form-control m-2" %>
  </div>

  <div>
    <%= form.label :start_airport, style: "display: block" %>
    <%= form.collection_select :start_airport, Airport.all , :id, :name %>
  </div>

  <div>
    <%= form.label :end_airport, style: "display: block" %>
   <%= form.collection_select :end_airport, Airport.all, :id, :name %>
  </div>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
